<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Su di me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Lo svolgimento della libera professione in ambito prettamente locale, in un contesto a 
          forte vocazione agricola ha approfondito la conoscenza di un settore caratterizzato da molteplici interazioni, 
          sviluppando stretti contatti con la realtà imprenditoriale e produttiva anche di settori collaterali, con contatti 
          diretti sia con singoli produttori agricoli che di cooperative di trasformazione piuttosto che di realtà industriali 
          e private  di varia scala.
          L'attività professionale in realtà medio-piccole ha come condizione essenziale la capacità relazionale e di comunicazione 
          con soggetti ed interlocutori molto diversi, portatori di esigenze differenziate.
          Anche il coordinamento e la gestione di esecutori e manodopera spesso immigrata pone necessità e sforzi di comunicazione 
          e mediazione, in un ambiente quindi di fatto multiculturale, con attribuzioni di funzioni di orientamento.
          Da ultimo lo svolgimento di incarichi in attività diverse ha visto l’attribuzione di mansioni fiduciarie anche di particolare rilievo.
          Nell’articolazione dell’attività professionale, sviluppata come già esposto in settori diversi ma strettamente legati, 
          l'organizzazione sia dell’attività edilizia nelle fasi di progettazione e realizzazione che della gestione contabile 
          e amministrativa riveste condizione essenziale per il raggiungimento di risultati ed obiettivi.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
    </div>
  </div>
</section>
