<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Su di me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Lo svolgimento della libera professione in ambito prettamente locale, in un contesto a 
          forte vocazione agricola ha approfondito la conoscenza di un settore caratterizzato da molteplici interazioni, 
          sviluppando stretti contatti con la realtà imprenditoriale e produttiva anche di settori collaterali, con contatti 
          diretti sia con singoli produttori agricoli che di cooperative di trasformazione piuttosto che di realtà industriali 
          e private  di varia scala.
          
          L'attività professionale in realtà medio-piccole ha come condizione essenziale la capacità relazionale e di comunicazione 
          con soggetti ed interlocutori molto diversi, portatori di esigenze differenziate.
          
          Anche il coordinamento e la gestione di esecutori e manodopera spesso immigrata pone necessità e sforzi di comunicazione 
          e mediazione, in un ambiente quindi di fatto multiculturale, con attribuzioni di funzioni di orientamento.
          
          Da ultimo lo svolgimento di incarichi in attività diverse ha visto l’attribuzione di mansioni fiduciarie anche di particolare rilievo.
          
          Nell’articolazione dell’attività professionale, sviluppata come già esposto in settori diversi ma strettamente legati, 
          l'organizzazione sia dell’attività edilizia nelle fasi di progettazione e realizzazione che della gestione contabile 
          e amministrativa riveste condizione essenziale per il raggiungimento di risultati ed obiettivi.</p>
      </div>
      <div class="col-lg-4">
        <h3>Esperienza</h3>
        <p> Libera professione di Geometra dal 1988 con attività di rilievo e restituzione grafica di immobili, progettazione di edifici civili, agricoli e industriali, ristrutturazioni, rilievi topografici, pratiche catastali ed estimative, progettazione, direzione lavori e contabilità dei lavori di opere pubbliche, consulenze tecniche, sicurezza dei cantieri.
          Attività di consulenza e contabilità per industrie e cooperative agricole. Funzioni peritali per istituti di credito diversi con attività di estimo immobiliare, industriale e rurale. </p>
        <h3>Qualifiche</h3>
        <ul style="list-style-type:square;">
          <li>Iscrizione Collegio dei Geometri della Provincia di Parma in data 07 Gennaio 1988 al nº 1893.</li>
          <li>Iscrizione come Soggetto Certificatore al S.A.C.E. Regione Emilia-Romagna al nº 02653.</li>
          <li>Socio fondatore dell’associazione professionale Geometri Esperti Valutatori – GEO.VAL ESPERTI dal 2002 al nº 154.</li>
          <li>Socio dell’associazione A.GE.FIS dal 2016.</li>
          <li>Recognised European Valuer certificato nº REV-IT/CNGeGL/2021/18 in data 01 Dicembre 2016.</li>
        </ul>  
      </div>
    </div>
  </div>
</section>
